<div class="container slim-container">
    <h1>Crear Nueva Categoría</h1>

    <form action="/create-category" method="POST" class="custom-form">
        
        <div class="form-group">
            <label for="name">Nombre de la Categoría</label>
            <input type="text" id="name" name="name" required placeholder="Ej. Inteligencia Artificial">
        </div>

        <button type="submit" class="btn btn-success">Guardar Categoría</button>
    </form>

    <div class="form-footer">
        <a href="/create" class="link-back">⬅ Volver a Crear Curso</a>
    </div>
</div>